<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
</head>

<body>
    <h1>Cadastro de Produto</h1>
    <form action="/register/product/save" method="POST">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" />
        <br />
        <label for="amount">Quantidade:</label>
        <input type="number" name="amount" id="amount" />
        <br />
        <label for="price">Preço</label>
        <input type="number" name="price" id="price" />
        <br />
        <input type="submit" value="register">
    </form>
</body>

</html>