<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>

<body>
    <h1>Cadastro de Usuário</h1>
    <form action="/register/client/save" method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" />
        <br />
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" />
        <input type="submit" value="register" />
    </form>
</body>

</html>